@use '../../sass/abstracts/variables.module';
@use '../../sass/abstracts/mixins.module';

$general-gap: 1.5rem;

.new-comment {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: auto auto;

  justify-items: center;

  column-gap: $general-gap;

  @include mixins.respond(tab-port) {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }

  &__user-photo {
    grid-column: 1;

    max-width: 4rem;
    max-height: auto;

    @include mixins.respond(tab-port) {
      grid-row: 2;

      justify-self: start;
    }
  }

  &__text {
    grid-row: 1/-1;
    grid-column: 2;
    justify-self: stretch;

    min-height: 8rem;
    resize: none;

    @include mixins.respond(tab-port) {
      grid-row: 1;
      grid-column: 1/-1;
    }
  }

  &__submit {
    grid-column: 3;

    @include mixins.respond(tab-port) {
      grid-column: 2;
      grid-row: 2;

      justify-self: end;
    }
  }

  &__empty-alert-btn {
    display: block;
    border: none;
    background-color: variables.$color-soft-red;
    color: variables.$color-white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 2rem auto 0;
    cursor: pointer;

    &:hover {
      background-color: variables.$color-pale-red;
    }
  }
}
