.comment-section {
  max-width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @include respond(tab-port) {
    max-width: 75%;
  }

  @include respond(phone) {
    max-width: 100%;
    margin: 1rem;
  }
}
